<section id="about" class="wow fadeInLeft">
	<img src="../assets/icons/lightbulb.svg" alt="Lightbulb Icon">
	<h2>About</h2>
	<p>My name is Tobias Helmrich and I’m a 21 year old web developer from Germany. I’m currently living in Japan and besides building apps and things for the web I enjoy drinking coffee, watching movies and TV shows, Astronomy, eating delicious food and I absolutely
		love exploring and learning new things.</p>
	<br>
	<p>I started with programming at the age of 17 during my technical apprenticeship and continued with self-studying, focusing on web development and iOS development. Nowadays I’m mostly developing websites with HTML, CSS/Sass, JavaScript and either the CMS WordPress or Python (Django/Flask). I'm developing iOS apps with Apple's awesome programming language Swift.</p>
	<div class="profile-picture" id="contact"></div>
	<div class="about-icon-wrapper">
		<a href="https://twitter.com/tobias_helmrich" class="about-element" target="_blank">
			<i class="fa fa-twitter fa-3x"></i>
		</a>
		<a href="https://github.com/helmrich" class="about-element" target="_blank">
			<i class="fa fa-github fa-3x"></i>
		</a>
		<a href="mailto:me@tobiashelmri.ch" class="about-element">
			<i class="fa fa-envelope fa-3x"></i>
		</a>
		<a href="https://jp.linkedin.com/in/tobias-helmrich-8bb085104
" class="about-element" target="_blank">
			<i class="fa fa-linkedin fa-3x"></i>
		</a>
	</div>
</section>
