#about {
	min-height: 600px;
	background: $secondary-color;
	padding-top: 30px;
	padding-bottom: 30px;
	> h2 {
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
	}
	> p {
		width: 85%;
		margin: 0 auto;
		text-align: center;
		@media screen and (min-width: 800px) {
			width: 60%;
		}
	}
	img {
		width: 84px;
		display: block;
		margin: 0 auto;
	}
	.profile-picture {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-image: url('../assets/images/profile-picture.jpg');
		background-size: cover;
		background-position: center;
		display: block;
		margin: 50px auto 0;
	}
	.about-icon-wrapper {
		width: 290px;
		margin: 45px auto;
	}
	.about-element {
		display: inline-block;
		width: 50px;
		margin-left: 25px;
		&:first-child {
			margin-left: 0;
		}
		.about-icon {
			height: 50px;
			width: 50px;
		}
		i {
			transition: transform 0.25s;
		}
		i:hover {
			transform: scale(1.25) rotate(5deg);
			transition: transform 0.25s;
		}
	}
}
