body {
	background: $primary-color;
	overflow-x: hidden;
}
a {
	color: $white;
	text-decoration: none;
	transition: color 0.25s;
	&:hover {
		color: darken($white, 15%);
		transition: color 2s;
	}
}
.btn {
	display: block;
	background: $primary-color;
	text-align: center;
	width: 225px;
	height: 60px;
	line-height: 60px;
	transition: all 0.25s;
	&:hover {
		background: darken($primary-color, 5%);
		transition: all 0.25s;
	}
}
textarea,
input {
	border: none;
	background-color: darken($white, 10%);
	color: $primary-color;
	transition: background-color 0.25s;
	&:focus {
		outline: none;
		background-color: $white;
		transition: background 0.25s;
	}
}
h2 {
	margin-bottom: 10px;
}
 ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: lighten($primary-color, 55%);
}
 ::-moz-placeholder {
	/* Firefox 19+ */
	color: lighten($primary-color, 55%);
}
 :-ms-input-placeholder {
	/* IE 10+ */
	color: lighten($primary-color, 55%);
}
 :-moz-placeholder {
	/* Firefox 18- */
	color: lighten($primary-color, 55%);
}
.wrapper {
	min-height: 100vh;
}
