.blog-wrapper {
	> h1 {
		text-align: center;
	}
}
.blog-post-preview {
	min-height: 400px;
	background: $secondary-color;
	padding: 10px 20px;
	&:nth-of-type(2n) {
		background: $primary-color;
	}
	> .post-preview-inner-wrapper {
		@media screen and (min-width: 500px) {
			width: 60%;
			margin: 0 auto;
		}
		p,
		a {
			font-size: 1.6rem;
			line-height: 2.0rem;
		}
		p > a {
			font-weight: 700;
		}
	}
}

/*
 * post-single layout
 *****************************/
.blog-post {
	width: 90%;
	margin: 0 auto;
	@media screen and (min-width: 500px) {
		p {
			font-size: 1.6rem;
			line-height: 2.0rem;
		}
	}
	@media screen and (min-width: 767px) {
		width: 70%;
	}
}
