@import 'colors';

$primary-color: $dark-blue-grey;
$secondary-color: $light-blue-grey;

$primary-font: 'Lato';
$font-stack: $primary-font, 'Helvetica Neue', 'Arial', sans-serif;
$base-font-size: 20px;
