<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<div class="wrapper">
		<section class="blog-wrapper">
			<h1>Blog</h1> {% for post in site.posts %}
			<article class="blog-post-preview">
				<div class="post-preview-inner-wrapper">
					<a href="{{ post.url }}">
						<h2>{{ post.title }}</h2>
					</a>
                    <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
					<p>
						{{ post.content | strip_html | truncatewords: 100 }}
						<a href="{{ post.url }}"> &raquo; Read more</a>
					</p>
				</div>
			</article>
			{% endfor %}
		</section>
	</div>

	{% include footer.html %}

</body>

</html>
